@import "../../index.css";

.patient-registration-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 1.5rem;
}

.patient-registration-title {
    font-size: 1.5rem;
    color: rosybrown;
}

.column > div {
    margin: 1rem 0rem;
    padding-bottom: 1rem;
}