@import "~carbon-components/css/carbon-components.css";

.loginWrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 25rem;
    height: 30rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding: 1.5rem 1rem;
}

.loginForm>div {
    margin: 1.2rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}